
body {
    margin: 0
}

* {
    box-sizing: border-box;
}

.all {
    width: 100%;
    height: 100vh;
}

.nav {
    background-color: rgb(185, 162, 127);
    width: 100%;
    height: 100px;
    float: left;
    /* padding-left: 30px;
    padding-top: 10px; */
    /* position: relative; */

}

.container {
    background-color: rgb(239, 230, 217);
    width: 100%;
    height: calc(100vh - 100px);
    float: left;
    position: relative;
}

.logo {
    /* background-color: rgb(255, 254, 241); */
    background-image: url(../img/IMG_0267.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    margin-top: 1.5%;
    margin-left: 1.5%;
    float: left;


    /* margin-bottom: 50px; */



}

.btn-area {
    /* background-color: bisque; */
    width: 55%;
    height: 100%;
    padding-top: 3.3%;
    padding-left: 12%;

    float: right;
    /* margin: auto; */
    /*          
    position: relative; */

}

.btn {

    background-color: brown;
    color: white;
    text-align: center;
    text-decoration: none;

    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;


    /* position: absolute; */
    /* top: 50px; */
    /* left: 50%;
     transform: translate(-50%, 0);  */

}

.btn:hover {
    background-color: rgb(215, 116, 23);
    color: white;

}



.box {
    width: 80%;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.box-x:hover {
    background-color: black;
    opacity: 0.5;
}

.box-y:hover {
    background-color: black;
    opacity: 0.5;
}

.box-z:hover {
    background-color: black;
    opacity: 0.5;
}

.box-x {
    /* background-color: blue; */
    background-image: url(../img/IMG_0263.JPG);
    background-size: contain;
    width: 100%;
    height: calc(50% - 2.5px);
    margin-bottom: 2.5px;
    float: left;

}


.box-y {
    /* background-color: blue; */
    background-image: url(../img/IMG_0262.JPG);
    background-size: cover;
    width: calc(50% - 2.5px);
    height: calc(50% - 2.5px);
    margin-top: 2.5px;
    margin-right: 5px;
    float: left;
    /* margin: 0 5px 0 */
}

.box-z {
    /* background-color: blue; */
    background-image: url(../img/IMG_0265.JPG);
    background-size: cover;
    width: calc(50% - 2.5px);
    height: 50%;
    height: calc(50% - 2.5px);
    margin-top: 2.5px;
    float: left;

}